<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Automation practice test suite" >
  <test name="Automation practice test" >
  
  
  <parameter name ="browser" value ="chrome"/>
  <parameter name ="url" value ="http://automationpractice.com/index.php?controller=authentication"/>
   <parameter name ="emailid" value = "vineeth.g773@gmail.com"/>
   <parameter name ="password" value = "Automation"/>
  
    <classes>
       <class name="com.parameters.parameterTest" />
       
       
    </classes>
    
  </test>
  
</suite>